            <table class="page7-13-yearly-table">
                <colgroup>
                    <col style="width:4.5%"/>
                    <col style="width:10%"/>
                    <col style="width:4.5%"/><col style="width:4.5%"/><col style="width:4.5%"/>
                    <col style="width:5%"/>
                    <col style="width:4.5%"/><col style="width:4.5%"/><col style="width:4.5%"/>
                    <col style="width:5%"/>
                    <col style="width:4.5%"/><col style="width:4.5%"/><col style="width:4.5%"/>
                    <col style="width:5%"/>
                    <col style="width:4.5%"/><col style="width:4.5%"/><col style="width:4.5%"/>
                    <col style="width:5%"/>
                    <col style="width:5.5%"/>
                </colgroup>
                <thead>
                    <tr class="item-heading-row">
                        <th colspan="15" class="heading-title">MONTH-WISE PRODUCTION TREND : {{ page.item_display }}</th>
                        <th colspan="4" class="heading-unit">Unit: {{ page.unit }}</th>
                    </tr>
                    <tr>
                        <th>Plant</th><th>Year</th>
                        <th>Apr</th><th>May</th><th>Jun</th><th class="qtr-hdr">Q1</th>
                        <th>Jul</th><th>Aug</th><th>Sep</th><th class="qtr-hdr">Q2</th>
                        <th>Oct</th><th>Nov</th><th>Dec</th><th class="qtr-hdr">Q3</th>
                        <th>Jan</th><th>Feb</th><th>Mar</th><th class="qtr-hdr">Q4</th>
                        <th class="tot-hdr">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in page.rows %}
                    {% set v = row['values'] %}
                    {% set cf = row['cell_flags'] or ([''] * 17) %}
                    {% set plant = row['plant'] %}
                    {% set row_cls %}{{ 'plan-row' if row['is_plan'] else '' }}{{ ' sail-row' if plant == 'SAIL' else '' }}{{ ' fp-row' if plant == '5 Plants' else '' }}{{ ' plant-first' if row['is_first_in_plant'] else '' }}{% endset %}
                    <tr class="{{ row_cls }}">
                        {% if row['is_first_in_plant'] %}
                        {% set pcls %}plant-cell{{ ' agg-sail' if plant == 'SAIL' else '' }}{{ ' agg-5p' if plant == '5 Plants' else '' }}{% endset %}
                        <td class="{{ pcls }}" rowspan="{{ row['plant_row_count'] }}">{{ plant }}</td>
                        {% endif %}
                        <td class="year-cell" style="{{ 'font-weight:700;' if row['is_plan'] else '' }}">{{ row['year_label'] }}</td>
                        {% for i in range(0, 3) %}
                        <td class="{{ 'best-ever' if cf[i] == 'best_ever' else ('best-month' if cf[i] == 'best_month' else '') }}">{{ v[i] }}</td>
                        {% endfor %}
                        <td class="qtr-cell {{ 'best-ever' if cf[3] == 'best_ever' else ('best-month' if cf[3] == 'best_month' else '') }}">{{ v[3] }}</td>
                        {% for i in range(4, 7) %}
                        <td class="{{ 'best-ever' if cf[i] == 'best_ever' else ('best-month' if cf[i] == 'best_month' else '') }}">{{ v[i] }}</td>
                        {% endfor %}
                        <td class="qtr-cell {{ 'best-ever' if cf[7] == 'best_ever' else ('best-month' if cf[7] == 'best_month' else '') }}">{{ v[7] }}</td>
                        {% for i in range(8, 11) %}
                        <td class="{{ 'best-ever' if cf[i] == 'best_ever' else ('best-month' if cf[i] == 'best_month' else '') }}">{{ v[i] }}</td>
                        {% endfor %}
                        <td class="qtr-cell {{ 'best-ever' if cf[11] == 'best_ever' else ('best-month' if cf[11] == 'best_month' else '') }}">{{ v[11] }}</td>
                        {% for i in range(12, 15) %}
                        <td class="{{ 'best-ever' if cf[i] == 'best_ever' else ('best-month' if cf[i] == 'best_month' else '') }}">{{ v[i] }}</td>
                        {% endfor %}
                        <td class="qtr-cell {{ 'best-ever' if cf[15] == 'best_ever' else ('best-month' if cf[15] == 'best_month' else '') }}">{{ v[15] }}</td>
                        <td class="total-cell {{ 'best-ever' if cf[16] == 'best_ever' else '' }}">{{ v[16] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="page7-13-legend">
                <span class="swatch" style="background:{{ colors.highlight_best_ever_bg }};"></span>Best Ever (month / quarter / annual record)
                &nbsp;&nbsp;
                <span class="swatch" style="background:transparent;border:1pt solid {{ colors.highlight_best_month_border_light }};"></span>Best for that Calendar Month/Quarter (e.g. best April, best Q3, on record)
            </div>
